<h1>Playlists#new,</h1>
<p>Find me in app/views/playlists/new.html.slim
</p>

<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true" style="width:250px;">Home</a>
    <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>  
    </div>


  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div>
        <div>
          
                        <%= form_with model:@playlist, url:'/playlists/albums', method: 'post',local: true do |form| %>
                        <div class="form-row align-items-start">
                        <div class="col-auto">
                        <%= form.label :playlist_name, 'Name' ,class:"form-label" %>
                        <%= form.text_field :playlist_name, class:"form-control mb-2"%>
                        <br>

                         <%=form.label :number_artists, 'Number of artists in your playlist',class:"form-label"%>
                         <%=form.text_field :number_artists, class:"form-control mb-2"%>
                         <br>
                         
                         <%=form.label :albums, 'Number of albums in your playlist',class:"form-label"%>
                         <%=form.text_field :number_albums,class:"form-control mb-2" %>
                         <br>
                         
                         <%= form.label :songs, 'Number of tracks in your playlist',class:"form-label"%>
                         <%=form.text_field :number_songs,class:"form-control mb-2" %>
                         <br>

                         <%=form.label :search, 'Search with genres', class:"form-label" %>
                         <%= form.search_field(:search, :class=>'form-control mb-2')%>
                          <br>            
                        </div>

                       
          
                      <div class="col-8" style="overflow: auto; height: 500px;" >
                        <ul>
                            
                            <%= form.collection_check_boxes :spotify_ids, @artists, :name_with_id, :name_with_genres do |b| %>
                             
                              <li class="list-group-item">
                                    <div class="form-check">
                                      <%= b.label(:"data-value" => b.value, :class=>"form-check-label") { b.check_box(:class=>"form-check-input")}+ b.text[0]%>
                                      
                                      <br>
                                      <%= b.text[1] %>
                                      <br>
                                      
                                      </div>
                              </li>

                              <% end %>
                       
                       
                        </ul>
                      </div>
                      <div class="col-auto">
                      	<%= form.submit 'Create new Playlist',:class=>'btn btn-primary'%>
                      </div>
                    </div>
                       <% end %>
           
                  </div>
                </div>
          </div>
        </div>  
      

</div>  


