
<h1> Songs</h1>

<div class="mb-3">
	<%= form_with model:@playlist, url:'/playlists', method: 'post',local: true do |form| %>
	<%= form.label :playlist_name, 'Name' ,class:"form-label" %>
	<%= form.text_field :playlist_name, class:"form-control"%>
	<br>
</div>
		<% @albums. each do |name,albums| %>

			<h2> <%= name %> </h2>
			<div class="accordion" id="<%= name.downcase.delete ' ' %>">
			<% albums.each do |album,song|%>

			<div class="accordion-item">
			
						<h2 class="accordion-header" id='heading<%= song[0].id %>' >
			      			<button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapse<%= song[0].id%>" aria-expanded="false" aria-controls='collapse<%=song[0].id %>'>
					 		<%= album %> 
							</button>
			         	</h2>
			    <div id='collapse<%= song[0].id%>' class= "accordion-collapse collapse" aria-labelledby="heading<%= song[0].id%>" data-parent="#<%= name.downcase.delete ' ' %>">
			      	<div class="accordion-body">
						<ul class="list-group">
				
						<%=form.collection_check_boxes :spotify_ids, song, :name_with_id, :name do |b|%>
							<li class="list-group-item">
				 					<div class="form-check">
								<%= b.label(:"data-value" => b.value,:class=>"form-check-label") { b.check_box(:class=>"form-check-input") }%>
								<%= b.text%>
								<br>
								<br>
									</div>
							</li>
							<%end%>
						</ul>

					</div>

				</div>
			</div>
			
			<%end%>		
		
			</div>
		</div>
		<%end%>
						

		<%=submit_tag 'Create playlist' %> 
		<%end%>